h1{
    text-align: center;
}
.col{
    display:grid;
    margin-right: 25px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-rows: 120px;
    grid-template-columns: 100px;
    
}

.col{
    background-color: #ffd400;
    border-radius: 10px;
    font-size: 2em;
}